/*reglas
selectores
declaraciones
propiedades
valores*/

header {
    background: greenyellow;
    color: blue;
}

body {
    font-family: 'Source Sans Pro', sans-serif; /*fuente de texto*/
    
}
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic; */
}
h1{
    line-height: 1.5;
    font-size: 40px;
    letter-spacing: -.2px;
    text-transform: uppercase;
    /* text-decoration: underline; */
}


.link {
    color: blue
}


/* selector de etiqueta header - section - article -nav*/


/* header {
     background: greenyellow;
 } */


/* selector descendente*/


/* body header div nav ol li a */


/* selector de clase . */


/* .link */


/* selector de id */


/* #principal */