/*reglas
selectores
declaraciones
propiedades
valores

/* gris oscuro = #1d252c:
gris claro = #626262;
background gris = #1b2127; 
celeste =  #026fff;
*/



body {
    font-family: 'Source Sans Pro', sans-serif; /*fuente de texto*/
    
}
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic; */
}
h1{
    line-height: 1.5;
    font-size: 40px;
    letter-spacing: -.2px;
    /* text-transform: uppercase; */
    color: white;
    /* text-decoration: underline; */
    /* margin: 100px 50px 20px 30px; */
   /* margin: 0 auto; /*centrar la imagen o el elemento*/
   margin: 0;
}
h1 strong{
    color:#026fff;
}
.project{
    /* border-top: 10px double ;
    border-right: 10px double;
    border-left:10px double ;
    border-bottom: 10px double; */
    /* border-color: red;
    border-style: double;
    border-width: 15px; */
    border: 1px solid gray;
    border-radius: 10px; /*bordes redondeados*/
    border-top-left-radius: 10px;
    margin-bottom: 15px;
    border-bottom-left-radius: 10px;

}

.project-details {
    width: 500px; /*estamos asignando un ancho al detalle*/
   
}
.project-imageConteiner{
    width: 500px; /*estamos asignando un ancho al detalle imagen*/

}
.hero {
    height: 300px;
    background-image: url('../Archivos/images/hero.jpg');
    background-color: #1b2127;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;
   
}
.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.menu{
    height: inherit; /*esta propiedad debe heredarece en cada uno
    Menu ->Header ol -> header ol li -> header a*/
}
.header ol{
    display: flex;
    height: inherit; /*esta propiedad debe heredarece en cada uno*/
    
}
.header ol li{
    height: inherit; /*esta propiedad debe heredarece en cada uno*/

}
.header a{
    color: white;
    text-decoration: none;
    align-items: center;
    display: flex;
    height: inherit; /*esta propiedad debe heredarece en cada uno*/
    padding: 0 10px;
}
ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
figure{
    margin: 0;
}


.link {
    color: blue
}

.footer{
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.footer img{
    vertical-align: middle;
}
.footer a{
    color: white;
}


/* selector de etiqueta header - section - article -nav*/


/* header {
     background: greenyellow;
 } */


/* selector descendente*/


/* body header div nav ol li a */


/* selector de clase . */


/* .link */


/* selector de id */


/* #principal */